* {
  margin: 0;
  padding: 0;
  list-style-type:none;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Navigation stuff*/
nav {
    width: 100%;
}

ul {
  list-style-type: none;
  padding: 5px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #FFFFFF;
  display: flex;
  align-items: center; 
}
  
li {
  float: left;
  padding: 2px;

}
li:first-child{
  flex: 1;
}
  
.item {
  color: #BCBABA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.title{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  color: #000000;
  font-size: 60px;
}

li .item:hover:not(.active) {
  background-color: #ddd;
}
  
li a.active {
  color: #FA4A0C;
  box-shadow: 0px 4px 4px rgba(196, 63, 21, 0.1);
}

/* overall fomat*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* min-width: 100vmin;
    min-height: fill; */ */
}

footer{
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:auto;
  justify-content: space-between;

}
footer div{
 margin-left: 50px;
 margin-top: 25px;
 margin-bottom: 25px;
 color: #FA4A0C;
}


  